@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --netflix_red: #e50914;
  --netflix_grey: #a3a3a3;
  --netflix_white: #ffffff;
  --netflix_bg: #181818;
  font-family: "Open Sans", sans-serif;
}

.morelikethis {
  width: 90%;
  margin: 30px auto 5px auto;
}

.section-grid {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  width: 17em;
  border-radius: 5px;
  margin-right: 7px;
  margin-bottom: 7px;
  border: 2px solid transparent;
  cursor: pointer;

  transition: 0.3s;
}

.image:hover {
  border: 2px solid var(--netflix_red);

  transition: ease-in-out 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .morelikethis {
    width: 17em;
    margin: 20px auto;
  }

  .section-grid {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .image {
    width: 17em;
    border-radius: 5px;
    margin-right: 7px;
    margin-bottom: 7px;
    border: 2px solid transparent;
    cursor: pointer;

    transition: 0.3s;
  }

  .image:hover {
    border: 2px solid var(--netflix_red);

    transition: ease-in-out 0.3s;
    cursor: pointer;
  }
}
